{% extends 'base.html.twig' %}
{% block title %}I know what you did last Friday{% endblock %}

{% block body %}
    <header><nav></nav></header>
    <section>
        <h1>Today I missed a technical interview call at a company I really wanted to work for</h1>
        <p>I was so convinced that the call was planned at 1.30pm that I even read that time on my daily agenda reminder, despite having the event correctly scheduled.</p>
        <p>
            There's probably a psychologist out there who knows the name of that bias of being so convinced of something that it becomes a reality.
            There's also probably a psychoanalyst who can tell me that the fact I screwed up that interview is probably due to my subconscious desire to have s*x with my mother.
        </p>
        <p>But back to my day</p>
        <p>I usually turn off the 30 minutes before the events reminders b/c I find them too many and too distracting.</p>
        <h3>First lesson learned : reactivate the reminders</h3>
        <p>I found out I missed the call about an hour after the beginning time. I was angry at myself and immediately send an email to apologize for wasting their time and claim my good faith.
        At that moment, I was so convinced that it was a deal breaker for the people I had this meeting with, that I didn't dare to ask for rescheduling.
        </p>
        <h3>Second lesson learned : do not react too impulsively</h3>
        <p>Now, I regret that. Would have I been a little bit gutsy, I'd have said that it was a test to check if they really wanted me (but I'm not that kind of guy)</p>
        <h3>Third lesson learned : Don't live with regrets. Be audacious. It might pay off</h3>
        <h3>Fourth lesson learned : You might have a long life experience, sometimes you have to learn life-lessons another time</h3>
        <h2>It's been several hours now and I'm still mad at myself. </h2>
        <p>But order to do something creative with my self-directed anger, I did a little forensics, gathered information on what I was doing during the ~30 minutes of that meeting between 11.30AM and noon this Friday.</p>


    </section>
    <section data-controller="hello"></section>
    <footer>Crafted with ♡ by Greg Berger</footer>
{% endblock %}